<p>modal-producto works!</p>
<h2 mat-dialog-title>{{tituliAction}} Producto</h2>
<mat-dialog-content>
    <form [formGroup]="formularioProducto">
        <mat-grid-list cols ="1" rowHeight ="80px">

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre Completo</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="nombre"  >
                        <mat-icon matSuffix>fit_screen</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Stock</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="stock" type="number" >
                        <mat-icon matSuffix>edit_square</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="idCategoria" >
                            <mat-option *ngFor="let item of listaCategorias" [value]="item.idCategoria">
                            {{item.nombre}}    
                            </mat-option> 
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Precio</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="precio" >
                        <mat-icon matSuffix>edit_square</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="esActivo" >
                            <mat-option value="1">
                            Activo 
                            </mat-option> 
                            <mat-option value="0">
                                Inactivo 
                                </mat-option> 
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align ="end"
>
<button mat-raised-button color="warn" (click) ="modalCLose()">Volver</button>
<button mat-raised-button color="primary"
[disabled] = "formularioProducto.invalid"
(click) = "guardarEditar()"
>{{botonAction}}</button>
</mat-dialog-actions>
